* {
    box-sizing: border-box;

}

.grid-wrapper {
    max-width: 1030px;
    display: grid;
    grid-template-columns: repeat(4,22%);
    grid-row-gap: 20px;
    justify-items: center;
}

main {

    
}