* {
    box-sizing: border-box;

}

.grid-wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
    grid-template-rows: minmax(150px, 1fr);
    grid-gap: 15px;
    justify-items: center;

}
